form.html-validation {
    width: 600px;
    margin: 0 auto;
}
.key-value {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
input {
    padding: 0.5rem;
    border-radius: 5px;
}
input:not(:focus):not(:placeholder-shown):invalid {
    border: red 2px solid;
}

.invisible {
    display: none;
}